.articles {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 -1rem;
}
.articles_col {
  width: 33.333rem;
  padding: 0 1rem;
}
.articles_header {
  position: relative;
}
.articles_date {
  position: absolute;
  width: 5.13rem;
  height: 5.13rem;
}
