.modal-work {
  display: flex;
}
.modal-work__previews {
  width: 65%;
  position: relative;
  overflow: hidden;
}
.modal-work__foto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.modal-work__content {
  width: 35%;
  padding: 3.4rem 6.6rem 11.2rem 1.73rem;
}
